# Import Modul

In [1]:
import pandas as pd
import xlsxwriter

# Open File CSV with Pandas

In [2]:
df1 = pd.read_csv('jumlah-penduduk-kota-bandung.csv')
df2 = pd.read_csv('luas-wilayah-menurut-kecamatan-di-kota-bandung-2017.csv')
df_penduduk = df1.copy()
df_luaswilayah = df2.copy()

In [3]:
df_penduduk.columns = ['Nama Kecamatan', 'Jumlah_Kelurahan', 'Jumlah_Penduduk']

# Check Data with Pandas

In [4]:
#Mengurutkan data agar mudah dicek
df_penduduk = df_penduduk.sort_values(by=['Nama Kecamatan'], ascending=False)
df_luaswilayah = df_luaswilayah.sort_values(by=['Nama Kecamatan'], ascending=True)

In [5]:
df_penduduk['Nama Kecamatan'].unique()

array(['Ujung Berung', 'Sumur Bandung', 'Sukasari', 'Sukajadi', 'Regol',
       'Rancasari', 'Panyileukan', 'Mandalajati', 'Lengkong',
       'Kiaracondong', 'Gedebage', 'Coblong', 'Cinambo', 'Cidadap',
       'Cicendo', 'Cibiru', 'Cibeunying Kidul', 'Cibeunying Kaler',
       'Buah Batu', 'Bojongloa Kidul', 'Bojongloa Kaler', 'Batununggal',
       'Bandung Wetan', 'Bandung Kulon', 'Bandung Kidul',
       'Babakan Ciparay', 'Astanaanyar', 'Arcamanik', 'Antapani', 'Andir'],
      dtype=object)

In [6]:
df_luaswilayah['Nama Kecamatan'].unique()

array(['Andir', 'Antapani', 'Arcamanik', 'Astana Anyar',
       'Babakan Ciparay', 'Bandung Kidul', 'Bandung Kulon',
       'Bandung Wetan', 'Batununggal', 'Bojongloa Kaler',
       'Bojongloa Kidul', 'Buahbatu', 'Cibeunying Kaler',
       'Cibeunying Kidul', 'Cibiru', 'Cicendo', 'Cidadap', 'Cinambo',
       'Coblong', 'Gedebage', 'Kiaracondong', 'Lengkong', 'Mandalajati',
       'Panyileukan', 'Rancasari', 'Regol', 'Sukajadi', 'Sukasari',
       'Sumur Bandung', 'Ujungberung'], dtype=object)

<b>Hasil pengecekan:</b> <br>
Setelah dicek ternyata ada perbedaan penamaan pada 3 Kecamatan, yaitu Astana Anyar, Buah Batu, dan Ujung Berung.

In [7]:
df_penduduk['Nama Kecamatan'].replace({'Astanaanyar': 'Astana Anyar', 'Buah Batu': 'Buahbatu', 'Ujung Berung':'Ujungberung'}, inplace=True)

# Merge with Pandas

In [8]:
df_gabungan = pd.merge(df_penduduk, df_luaswilayah, how = 'outer', on = 'Nama Kecamatan')
df_gabungan.head()

  Nama Kecamatan  Jumlah_Kelurahan  Jumlah_Penduduk  Luas Wilayah (m2)
0    Ujungberung                 5            76902            6240000
1  Sumur Bandung                 4            36579            3490000
2       Sukasari                 4            81908            6360000
3       Sukajadi                 5           108375            5280000
4          Regol                 7            81467            4740000

# Kepadatan Penduduk (per 100 m2)

In [9]:
df_gabungan['Kepadatan Penduduk (per 100 m2)'] = df_gabungan['Jumlah_Penduduk']/(df_gabungan['Luas Wilayah (m2)']/100)
df_gabungan.head()

,Nama Kecamatan,Jumlah_Kelurahan,Jumlah_Penduduk,Luas Wilayah (m2),Kepadatan Penduduk (per 100 m2)
0,Ujungberung,5,76902,6240000,1.232404
1,Sumur Bandung,4,36579,3490000,1.048109
2,Sukasari,4,81908,6360000,1.287862
3,Sukajadi,5,108375,5280000,2.052557
4,Regol,7,81467,4740000,1.718713

# Save Dataframe and Chart to Excel with XlsxWriter

In [10]:
hasil1 = df_gabungan[['Nama Kecamatan', 'Jumlah_Kelurahan', 'Jumlah_Penduduk', 'Luas Wilayah (m2)']]
hasil2 = df_gabungan[['Nama Kecamatan', 'Kepadatan Penduduk (per 100 m2)']]

In [11]:
with pd.ExcelWriter('Dhea Fajriati Anas.xlsx') as writer :
    #Dataframe to Excel
    hasil1.to_excel(writer, sheet_name = 'Data_Keseluruhan', index = False)
    hasil2.to_excel(writer, sheet_name = 'Data_Kepadatan_Penduduk', index = False)
    
    #Chart
    wb = writer.book
    ws = writer.sheets['Data_Kepadatan_Penduduk']
    chart = wb.add_chart({'type' : 'column'})
    chart.add_series({'categories':'=Data_Kepadatan_Penduduk!$A$2:$A$6',
                      'values':'=Data_Kepadatan_Penduduk!$B$2:$B$6',
                     'fill' : {'color':'green'}})
    chart.set_size({'width': 720, 'height': 576})
    chart.set_title({'name':'Kepadatan Penduduk Kota Bandung'})
    chart.set_x_axis({'name':'Kecamatan'})
    chart.set_y_axis({'name':'Kepadatan Penduduk (per 100 m2)'})
    ws.insert_chart('D2', chart)